# PLUGINS
# ==========================================

# Startup {{{
# -------
#
- repo: vhdirk/vim-cmake
- repo: easymotion/vim-easymotion
- repo: Shougo/vimproc.vim
  build: 'make'
#- repo: autozimu/LanguageClient-neovim
- repo: ervandew/supertab # Use tab to autocomplete
- repo: khorser/vim-repl # All purpose repl?
- repo: ludovicchabant/vim-gutentags
- repo: majutsushi/tagbar
- repo: amiorin/vim-project
- repo: MarcWeber/vim-addon-mw-utils
- repo: liuchengxu/vim-which-key
- repo: junegunn/fzf
  build: './install --all'
- repo: junegunn/fzf.vim
- repo: junegunn/vader.vim
- repo: junegunn/vim-slash
- repo: Shougo/dein.vim
- repo: Shougo/deol.nvim
- repo: Shougo/context_filetype.vim
  #- repo: Shougo/unite.vim
  #- repo: Shougo/vimfiler.vim
- repo: roxma/vim-hug-neovim-rpc
- repo: roxma/nvim-yarp
- repo: w0rp/ale
- repo: vim-airline/vim-airline
- repo: vim-airline/vim-airline-themes
- repo: flazz/vim-colorschemes
  build: 'cp -r ~/.cache/vim/dein/repos/github.com/flazz/vim-colorschemes/colors ~/.config/nvim/colors'
- repo: rafi/vim-badge # Do I want this?
- repo: thinca/vim-localrc
- repo: christoomey/vim-tmux-navigator # Do I want this?
- repo: junegunn/vim-peekaboo # Do I want this? Seems neat
- repo: tpope/vim-sleuth # Do I want this...? Seems nice...
- repo: jpalardy/vim-slime
- repo: itchyny/vim-gitbranch # Do I want this?
- repo: itchyny/vim-parenmatch # Do I want this?
- repo: nathanaelkane/vim-indent-guides
- repo: manasthakur/vim-asyncmake # move to lazy load
- repo: vim-scripts/DeleteTrailingWhitespace
  # - repo: Shougo/defx.nvim
- repo: itchyny/vim-cursorword
  hook_add: |
    autocmd MyAutoCmd FileType denite,qf,nerdtree let b:cursorword=1 " Change back to 0?"
    autocmd MyAutoCmd InsertEnter * let b:cursorword=0
    autocmd MyAutoCmd InsertLeave * let b:cursorword=1
- repo: airblade/vim-gitgutter
  on_path: .*
  hook_source: |
    let g:gitgutter_map_keys = 0
    let g:gitgutter_sh = $SHELL

- repo: scrooloose/nerdtree
- repo: bronson/vim-visual-star-search
- repo: itchyny/calendar.vim


# Startup }}}
# Lazy Loading {{{
# ==========================================

# Languages
# ---------
- { repo: jalvesaq/nvim-r, on_ft: r }

# ==========================================
# Commands
# --------

# Lazy Loading }}}
# Interface {{{
# ---------
- repo: scrooloose/nerdcommenter
- repo: jreybert/vimagit
- repo: joshdick/onedark.vim
- repo: tpope/vim-fugitive
- repo: mhinz/vim-startify
  hook_add: |
    let g:startify_custom_header          = [
    \'                               _______                                                            ',
    \' ___.--------._____________,------- ------------_                                                 ',
    \' \                           `  -  .  _         /\                                                ',
    \'  `.__________                           `  -  |  |                 __,---"-._                    ',
    \'              `-----------.______             ,/_/  ________,------/___________`----.___________  ',
    \'                                 `-----.____,/      |===========================================/ ',
    \'                                       |   :|        >--------------.----------.---------------/  ',
    \'                                       /   :|   _,--/          ,--/  \--.__.--/                   ',
    \'                                      /   : |--/______________/_                                  ',
    \'                                ,---,/    :  \__________________`--.                              ',
    \'                               `__________                        |/|                             ',
    \'                                          `------._               |\|                             ',
    \'                                                    `--._________,-/                              ',
    \ ]


# Interface }}}
# Completion {{{
# ----------
#- { repo: Valloric/YouCompleteMe, build: './install.py --all' }
- { repo: Shougo/deoplete.nvim}


- repo: Shougo/deoplete.nvim
  depends: context_filetype.vim
  if: has('nvim') && empty($VIM_MINIMAL)
  on_event: InsertEnter
  hook_source: |
    source $VIMPATH/config/plugins/deoplete.vim
    call deoplete#enable()

- repo: Shougo/neocomplete
  depends: context_filetype.vim
  if: ! has('nvim') && has('lua') && empty($VIM_MINIMAL)
  on_event: InsertEnter
  hook_add: |
    let g:neocomplete#data_directory = $VARPATH.'/complete'
    let g:neocomplete#enable_at_startup = 1
  hook_source: source $VIMPATH/config/plugins/neocomplete.vim

- repo: garbas/vim-snipmate
- repo: Shougo/neosnippet-snippets
- repo: Shougo/neosnippet.vim
  depends: [ neosnippet-snippets, context_filetype.vim ]
  if: empty($VIM_MINIMAL)
  on_event: InsertCharPre
  on_ft: snippet
  hook_add: let g:neosnippet#data_directory = $VARPATH.'/snippets'
  hook_source: |
    let g:neosnippet#enable_snipmate_compatibility = 1
    let g:neosnippet#enable_completed_snippet = 1
    let g:neosnippet#expand_word_boundary = 1
    autocmd MyAutoCmd CompleteDone * call neosnippet#complete_done()
    autocmd MyAutoCmd InsertLeave * NeoSnippetClearMarkers

- repo: ludovicchabant/vim-gutentags
  if: executable('ctags') && empty($VIM_MINIMAL)
  on_path: .*
  hook_add: |
    let g:gutentags_cache_dir = $VARPATH.'/tags'
    let g:gutentags_generate_on_write = 1
    let g:gutentags_generate_on_missing = 0
    let g:gutentags_generate_on_new = 0
    let g:gutentags_ctags_exclude_wildignore = 1
    let g:gutentags_ctags_exclude = [
      \ '*/wp-admin', '*/wp-content', '*/wp-includes',
      \ '*/application/vendor', '*/vendor/ckeditor', '*/media/vendor'
      \ ]

# Completion }}}
# Only NeoVim {{{
# ------------


# Only NeoVim }}}
# Denite {{{
# ------
- repo: Shougo/denite.nvim
- { repo: chemzqm/unite-location, on_source: denite.nvim }
- { repo: chemzqm/denite-git, on_source: denite.nvim }
- { repo: rafi/vim-denite-z, on_source: denite.nvim }
- { repo: rafi/vim-denite-session, on_source: denite.nvim }

- repo: rafi/vim-denite-mpc
  if: executable('mpc') && empty($VIM_MINIMAL)
  on_source: denite.nvim
  hook_source: call denite#custom#var('mpc', 'default_view', 'date')



# Denite }}}
# Operators {{{
# ---------


# Operators }}}
# Text objects {{{
# ------------


# Text objects }}}
# {{{ Languages
- { repo: Shougo/deoplete.nvim, 'do': ':UpdateRemotePlugins' }
- repo: zchee/deoplete-jedi
  build': 'git submodule update --init'

# }}} Languages
#  {{{ vim modeline
#  vim: set foldmethod=marker ts=2 sw=2 tw=80 et :
#  }}} vim modeline
